form {
    width: 550px;
    margin: auto;
    padding: 10px 70px 10px;
    box-shadow: 0 0 25px #2F4F4F;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: grey;
}

label {
    height: 30px;
    color: #2F4F4F;
    font-weight: 300;
}

input {
    width: 500px;
    height: 40px;
}

input,
select,
textarea {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
    background-color: transparent;
    font-size: 20px;
    font-family: Dotum, sans-serif;
    color: #c6c9cc;
    outline: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #c6c9cc;
}

input[type="text"]::-webkit-input-placeholder {
    color: #c6c9cc;
}

input[type="text"]::-moz-placeholder {
    color: #c6c9cc;
}


/* Firefox 19+ */

input[type="text"]:-moz-placeholder {
    color: #c6c9cc;
}


/* Firefox 18- */

input[type="text"]:-ms-input-placeholder {
    color: #c6c9cc;
}

input[type="email"]::-webkit-input-placeholder {
    color: #c6c9cc;
}

input[type="email"]::-moz-placeholder {
    color: #c6c9cc;
}


/* Firefox 19+ */

input[type="email"]:-moz-placeholder {
    color: #c6c9cc;
}


/* Firefox 18- */

input[type="email"]:-ms-input-placeholder {
    color: #c6c9cc;
}

select {
    height: 45px;
    padding-right: 25px;
}

textarea {
    padding: 10px;
    width: 500px;
    height: 100px;
}

input[type="submit"] {
    width: 150px;
    height: 50px;
    background-color: #2F4F4F;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    border: #2F4F4F;
    padding-right: 15px;
    cursor: pointer;
}
