@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

body {
    width: 100%;
    height: 100vh;
    background: url(../images/bg-form.jpg) center no-repeat #2d3236;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    color: #9EABAD;
}

a:hover {
    color: #6E7F7B;
}

.top_space {
    height: 35px;
}

section {
    margin-top: 35px;
    width: 25%;
    margin: auto;
    background-color: #f4f5f5;
}

.header {
    display: inline-block;
    width: 100%;
    background-color: #efe4aa;
}

.text {
    float: left;
    padding-top: 25px;
    padding-left: 20px;
}

.text__title {
    font-size: 14px;
    font-weight: 700;
    color: #6E7F7B;
}

.text__subtitle {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #a6a28d;
}

.text__price {
    float: right;
    padding: 18px 20px 18px 0;
    font-size: 36px;
    font-weight: 400;
    color: #637570;
}

.main {
    background-color: #F5F5F5;
    padding: 24px;
    color: #9EABAD;
    font-size: 13px;
}

h4 {
    margin-top: 23px;
    font-size: 13px;
    line-height: 25px;
    color: #9EABAD;
    font-weight: 400;
}

input,
select {
    height: 40px;
    font-size: 13px;
    color: #727f82;
    font-weight: 400;
    padding-left: 10px;
    background-color: #f4f5f5;
    border: 2px solid #b4c1c4;
}

input[type="text"] {
    color: #EECC68;
}

input[type="text"]::-webkit-input-placeholder {
    color: #727f82;
    ;
}

input[type="text"]::-moz-placeholder {
    color: #727f82;
    ;
}


/* Firefox 19+ */

input[type="text"]:-moz-placeholder {
    color: #727f82;
    ;
}


/* Firefox 18- */

input[type="text"]:-ms-input-placeholder {
    color: #727f82;
    ;
}

[name="card"] {
    width: 100%;
}

[name="month"] {
    width: 60%;
    margin-right: 10px;
}

[name="year"] {
    width: 35%;
}

[name="cvv"] {
    width: 35%;
}

.footer {
    border-top: 1px solid #E3E6E8;
    margin-top: 35px;
}

button {
    width: 100%;
    height: 48px;
    margin: 35px 0;
    border: none;
    background-color: #26B167;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    border: 2px solid #26B167;
    background-color: #f4f5f5;
    color: #26B167;
}

.footer__link {
    display: block;
    text-align: center;
}
